html {
  font-size: 100px;
}
body {
  font-size: .12rem;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// 图标
.icon {
  font-family: "iconfont";
}
a{
  text-decoration: none;
  color: #000;
}