@font-face {
  font-family: 'iconfont';  /* Project id 3356783 */
  src: url('//at.alicdn.com/t/font_3356783_xiwhnccmbao.woff2?t=1653034670485') format('woff2'),
       url('//at.alicdn.com/t/font_3356783_xiwhnccmbao.woff?t=1653034670485') format('woff'),
       url('//at.alicdn.com/t/font_3356783_xiwhnccmbao.ttf?t=1653034670485') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}