
// StaticArea.vue
$content-fontcolor: #333;

//Navitation.vue
$content-bgColor: #F1F1F1;

// Login、Register
$color:#777;
$outLine-color:#0091ff;

// Search.cue
$searchColor:#f5f5f5;

//Shop
$shop-color:#333333;